.header {
  padding: 2rem 4rem;
  margin-bottom: 20px;
  height: 20vh;
  background-color: #1a1449 !important;
  color: #fec82f;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.header-logo {
  height: auto;
}

.header-divider {
  opacity: 0.4;
  font-size: 1.5rem;
  margin: 0 10px;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}